:root {
  --color-primary: #68e0cf;
  --color-bg: #373b40;
  --color-white: #fff;
  --color-grey: #585d65;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  background-color: var(--color-bg);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

h2 {
  font-size: 5.5rem;
  font-weight: 800;
  color: var(--color-white);
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 7rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 3rem;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-white);
  margin-bottom: 2rem;
  line-height: 2.6rem;
}

.btn {
  outline: none;
  border: 1px solid var(--color-grey);
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 700;
  background-color: transparent;
  padding: 2rem 3rem;
  border-radius: 4rem;
}

.header {
  margin: 0 5rem;
  background-color: var(--color-grey);
  width: 110rem;
  border-radius: 20rem;
  position: fixed;
  top: 5rem;
  z-index: 900;
}
.header__navbar {
  margin: 0.7rem 0.5rem 0.7rem 5rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navbar-logo {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navbar-logo__name {
  font-size: 2rem;
  color: var(--color-white);
  font-weight: 700;
  margin-left: 1.6rem;
}
.header__navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navbar-content ul {
  display: flex;
}
.header__navbar-content__item {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 3rem;
}
.header__navbar-content__button {
  border: 1px solid var(--color-white);
  border-radius: 5rem;
  padding: 2rem 4rem;
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  width: max-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navbar-content__button-download {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--color-white);
  margin-left: 1rem;
}

.aside {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  width: 8vw;
  height: 100vh;
  border-left: 1px solid var(--color-grey);
}
.aside__icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 2rem;
}
.aside__icons-link {
  border: 1px solid var(--color-grey);
  border-radius: 50%;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.side-icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-white);
  text-align: center;
  margin: 1.5rem;
}

.bg {
  position: sticky;
  background-image: url(../../img/man.jpg);
  background-size: cover;
  width: 45%;
  height: 100vh;
  filter: grayscale(100%);
  mix-blend-mode: luminosity;
  position: sticky;
}

main {
  flex: 1;
  position: relative;
}

section::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 0.1rem;
  background-color: var(--color-grey);
}

.showcase__content {
  margin: 20rem 4rem;
  position: relative;
}
.showcase__content-heading {
  background-color: var(--color-bg);
  margin-left: -16rem;
  z-index: 2;
  padding: 5rem;
  border-radius: 16rem;
  margin-bottom: 2rem;
}
.showcase__content-heading__h1 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--color-white);
}
.showcase__content-description__h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 3rem;
}
.showcase__content-description__para {
  font-size: 1.4rem;
  font-weight: 200;
  color: var(--color-white);
  margin-bottom: 2rem;
}
.showcase__content-description__btn-icon {
  width: 1rem;
  height: 1rem;
  fill: var(--color-white);
  margin-left: 0.5rem;
}

.about {
  margin: 4rem;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
}
.about__list-item {
  margin-bottom: 1rem;
}
.about__list-item span:first-child {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
}
.about__list-item span:last-child {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-white);
}

.services {
  margin: 4rem;
}
.services__box {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  grid-gap: 2rem;
}
.services__box-card__icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--color-primary);
  margin-bottom: 1.5rem;
}

.pricing {
  padding: 4rem;
}
.pricing__box {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  grid-gap: 2rem;
}
.pricing__box-card {
  width: max-content;
}
.pricing__box-card__icon {
  height: 3.2rem;
  width: 3.2rem;
  fill: var(--color-primary);
  margin-bottom: 2rem;
}
.pricing__box-card__number {
  margin-bottom: 2rem;
}
.pricing__box-card__number span:first-child {
  font-size: 5.4rem;
  font-weight: 800;
  color: var(--color-white);
  position: relative;
}
.pricing__box-card__number span:last-child {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(153, 153, 153);
}
.pricing__box-card__number span:first-child::before {
  content: "$";
  position: absolute;
  top: 0;
  left: -1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(153, 153, 153);
}
.pricing__box-card__para p:nth-child(4) {
  text-decoration: line-through;
  color: rgb(153, 153, 153);
}
.pricing__box-card__para p:nth-child(5) {
  text-decoration: line-through;
  color: rgb(153, 153, 153);
  margin-bottom: 3rem;
}

.experience {
  padding: 4rem;
}

/*# sourceMappingURL=style.css.map */
